body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: whitesmoke;
  overflow: hidden;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
    width: 3px; /* 设置滚动条宽度 */
  }
/* 设置滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #555; /* 设置滚动条滑块颜色 */
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.container > h1 {
  border-right: 5px solid black;
  padding: 20px;
}

.article-create {
  width: 80%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.article-create label {
  position: relative;
  left: 5px;
}
.article-create div {
  margin: 10px;
  margin-top: 20px;
}
.article-create label {
  font-size: 20px;
  color: black;
}

.atitle  input,.aimage  input,.adescription input,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin: 10px;
  outline: none;
  height: 50px;
  font-size: 20px;
  background: transparent;
  /* resize: none; */
}
.aimage input {
  width: auto;
  text-align: center;
}

.aimage input[type="file"]::-webkit-file-upload-button {
  display: none;
  border: none;
}

textarea {
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  border: 0;
  border: 2px solid black;
  height: 50%;
  width: 95%;
  white-space: nowrap;
}

.article-create > a {
  display: block;
}

.submit-btn {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.submit-btn button,
a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
}

.mkdn {
  display: block;
  position: absolute;
  left: 20%;
  right: 20%;
  border-radius: 2%;
  background-color: white;
  bottom:-100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mkdn:hover {
  transform: translateY(-60%);
}

.mkdn:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 20%;
  background-color: white;
}

.mkdn:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent white transparent;
  transform: translateX(-50%);
}

#vditor {
  width: 100%;
  height: 200px;
  display: flex;
}
.vditor-toolbar {
  display: none;
}


@media (max-width: 768px) {
  .container {
    text-align: center;
    flex-direction: column;
  }
  .container h1 {
    border-bottom: 5px solid black;
  }
  .aimage {
    border: none;
  }
  .aimage label {
    border-bottom: 2px solid black;
    position: relative;
    top: 20px;
  }
  .aimage input{
    margin: 0;
    padding: 0;
    color: transparent;
    position: relative;
    left: 10%;
    border: none;
  }
  .article-create {
    width: 90%;
    overflow: auto;
  }
  .mkdn {
    left: 5%;
    right: 5%;
  }
}
