<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Catslin</title>
  </head>
  <body>
    <!-- mav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <!-- <a href="#" class="navbar-brand">A magnificent play</a> -->

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-white">
                "Appear in" <span id="cyclicstr">>></span></a
              >
            </li>
            <li class="nav-item">
              <a href="#learn" class="nav-link">Twitter / </a>
            </li>
            <li class="nav-item">
              <a href="#questions" class="nav-link">Youtb / </a>
            </li>
            <li class="nav-item">
              <a href="#instructors" class="nav-link">Bilibili / </a>
            </li>
            <li class="nav-item">
              <a href="#instructors" class="nav-link">Juejin / </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
      ,
      style="height: 100vh"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <div id="inputText">
              <h1 class="d-none d-md-block"></h1>
              <p class="lead my-4"></p>
            </div>

            <a href="/articles" class="btn btn-primary btn-lg"
              >Start The Networking</a
            >
          </div>

          <img
            class="img-fluid w-45 d-none d-sm-block"
            src="./image/image4.png"
            alt=""
          />
        </div>
      </div>
    </section>
  </body>
  <script>
    const inputText = document.getElementById("inputText");
    const h1 = inputText.querySelector("h1");
    const p = inputText.querySelector("p");
    h1.style.fontFamily = "Arial, sans-serif";
    p.style.fontFamily = "Georgia, serif";

    const h1Text = "Catslin is Here";
    const firstPart =
      "Welcome to my webpage, here is a brief self-introduction";
    const secondPart =
      "I willshow some of my favorite things  /💖 Here,  I hope you will like it too";
    const newText = `${firstPart} ${secondPart}`;
    let h1Index = 0;
    let pIndex = 0;

    function typeH1() {
      if (h1Index < h1Text.length) {
        h1.textContent += h1Text.charAt(h1Index);
        h1Index++;
        setTimeout(typeH1, 100);
      } else {
        typeText();
      }
    }

    function typeText() {
      if (pIndex < newText.length) {
        p.innerHTML += newText.charAt(pIndex);
        pIndex++;
        setTimeout(typeText, 50);
      }
    }
    typeH1();
  </script>
</html>
